<div class="container">
  <h2><strong>{{ title|titlecase }}</strong></h2><br><br>
  <!-- <button class="btn btn-success btn-3" (click)="onClick(idEmployee)">
     <fa-icon></fa-icon>&nbsp;Agregar
   </button>&nbsp;&nbsp;-->
  <button class="btn btn-success btn-3" [routerLink]="['/contract/employee/form/', idEmployee]">
    <fa-icon></fa-icon>&nbsp;Agregar
  </button>&nbsp;&nbsp;
  Elementos por página:&nbsp;
  <select [value]="limit" (change)="changeLimit($event)">
    <option>5</option>
    <option>10</option>
    <option>20</option>
  </select>
  <table class="table">
    <thead>
    <td>No.</td>
    <td>Costo</td>
    <td>Fecha Inicio</td>
    <td>Fecha Fin</td>
    <td>Código Empleado</td>
    <td>Código Cliente</td>

    <td></td>
    </thead>
    <tr *ngFor="let item of contracts; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.cost }}</td>
      <td>{{ item.startDate }}</td>
      <td>{{ item.endDate }}</td>
      <td>{{ item.contractor.name }}</td>
      <td>{{ item.client.name  }}</td>

      <td>
        <button mat-button class="btn btn-sm btn-info" [routerLink]="['/contract/card', item.idcontract]">
          <fa-icon [icon]='faEye'></fa-icon>&nbsp;
        </button>
        <button mat-button class="btn btn-sm btn-warning" [routerLink]="['/contract/form', item.idcontract]">
          <fa-icon [icon]='faPencilAlt'></fa-icon>&nbsp;
        </button>
        <button mat-button class="btn btn-sm btn-danger" (click)="delete(item)">
          <fa-icon [icon]='faTrash'></fa-icon>&nbsp;
        </button>
      </td>
    </tr>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="loadPage(1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item" *ngFor="let pg of pages">
        <button class="page-link" (click)="loadPage(pg)">{{pg}}</button>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="loadPage(numberPages)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
