<div class="container">
  <div>
    <h2>{{ title }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user">
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]='faQuoteLeft'></fa-icon></span>
          </div>
          <input formControlName="cost" type="text" class="form-control form-control-user" [(ngModel)]="contract.cost"
                 [ngClass]="{'is-invalid': submitted && f.cost.errors}" placeholder="Costo"/>
          <div *ngIf="submitted && f.costo.errors" class="invalid-feedback">
            <div *ngIf="f.costo.errors.required">Costo requerido</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]='faQuoteLeft'></fa-icon></span>
          </div>
          <input formControlName="startDate" type="text" class="form-control form-control-user"
                 [(ngModel)]="contract.startDate" [ngClass]="{'is-invalid': submitted && f.startDate.errors}"
                 placeholder="Fecha inicio"/>
          <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
            <div *ngIf="f.startDate.errors.required">Fecha de inicio requerida</div>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]='faIdCard'></fa-icon></span>
          </div>
          <input formControlName="endDate" type="text" class="form-control form-control-user"
                 [(ngModel)]="contract.endDate"
                 [ngClass]="{'is-invalid': submitted && f.endDate.errors}" placeholder="Fecha fin"/>
          <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
            <div *ngIf="f.endDate.errors.required">Fecha final requerida</div>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]='faPhone'></fa-icon></span>
          </div>
          <input formControlName="idemployee" type="text" class="form-control form-control-user"
                 [(ngModel)]="contract.idemployee"
                 [ngClass]="{'is-invalid': submitted && f.idemployee.errors}" placeholder="Id empleado" [value]="contract.idemployee"/>
          <div *ngIf="submitted && f.idemployee.errors" class="invalid-feedback">
            <div *ngIf="f.idemployee.errors.required">codigo empleado requerido</div>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]='faHome'></fa-icon></span>
          </div>
          <input formControlName="idclient" type="text" class="form-control form-control-user"
                 [(ngModel)]="contract.idclient" [ngClass]="{'is-invalid': submitted && f.idclient.errors}"
                 placeholder="codigo cliente"/>
          <div *ngIf="submitted && f.idclient.errors" class="invalid-feedback">
            <div *ngIf="f.idclient.errors.required">codigo de cliente requerido</div>
          </div>
        </div>
        <div>
          <select name="" id="" formControlName="idclient">
            <option [value]="item.idclient" *ngFor="let item of clients">{{item.name}} {{item.surname}}</option>
          </select>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-success">
            <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar
          </button>
          <button type="reset" (click)="onReset()" class="btn btn-danger">
            <fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

